<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Store{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'shop_app:home' %}">
            My Store
        </a>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'shop_app:order_list' %}" tabindex="-1"
                       aria-disabled="true">Cart</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <form method="POST" action="{% url 'registration:logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="nav-link btn btn-link">Sign out</button>
                    </form>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'registration:user_info' %}" tabindex="-1" aria-disabled="true">
                        {{ request.user.username }}
                    </a>
                </li>
                {% if user.is_superuser %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'registration:admin_dashboard' %}" tabindex="-1" aria-disabled="true">Admin
                        dashboard</a>
                </li>
                {% endif %}
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'registration:login' %}" tabindex="-1" aria-disabled="true">Sign
                        in</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'registration:register' %}" tabindex="-1" aria-disabled="true">Register</a>
                </li>
                {% endif %}
            </ul>
            <form class="d-flex" method="get" action="{% url 'shop_app:product_search' %}">
                <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-9">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>

</body>
</html>